/* css styles */
@font-face {
    font-family: 'Lato';
    src: url("../fonts/lato.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url("../fonts/RobotoMono-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}